<div class="animate__animated animate__fadeIn animate__slow">
    <h3>Buscar por región <small>{{ regionActiva | titlecase}}</small></h3>
    <hr>
    <h5>Seleccione la región</h5>
    <div class="row">
        <div class="col">
            <button *ngFor="let region of regiones" (click)="activaRegion(region)" [class]="getClaseCSS(region)">
                <!-- [ngClass]="{
            'btn-primary': regionActiva === region,
            'btn-outline-primary': regionActiva !== region
        }" -->
                <!-- [class.btn-primary]="region === regionActiva" -->
                {{region | titlecase}}
            </button>
        </div>
    </div>
</div>
<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paisesT]="paises"></app-pais-tabla>
    </div>
</div>